<nav role="navigation">
<body style="background-color:#fcfcfc;">
   <header id="header" class="animated headroom--fixed nav-bg bt-0 br-0 bl-0 my-bw1 b--black-10 bb" role="banner">
    <div class="nav my-w3 fw6">
      <a href="http://sherzod.co/index.html" class="my-link dark-blue">
        <ul class="sher list di fl f4 tl ph3 fw7">
          <li class="di pv3">Sherzod</li>
        </ul>
      </a>
      <ul class="nav-links list di fr pt2" id="nav">
        <!-- <a href="#work" class="my-link dark-blue ph4 pv4">
          <li class="di">Work</li>
        </a> -->
        <a href="#" class="my-link dark-blue ph4 pv4">
          <li class="di">Blog</li>
        </a>
        <a href="http://sherzod.co/index.html#about" class="my-link dark-blue ph4 pv4">
          <li class="di">About</li>
        </a>
        <a href="#contact" class="my-link dark-blue ph4 pv4">
          <li class="di">Contact</li>
        </a>
      </ul>
    </div>
  </header>
</nav>
